Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault


URxvt.scrollBar: false
URxvt*transparent: false
URxvt*shading: 20
!URxvt*blurRadius: 20
URxvt*fading: 20
URxvt*internalBorder: 0
URxvt*saveLines: 1000
URxvt*buffered:	false

URxvt.keysym.M-C-c:	perl:clipboard:copy
URxvt.keysym.M-C-v:	perl:clipboard:paste

URxvt.font: -*-tamzenforpowerline-medium-*-*-*-12-*-*-*-*-*-*-*,\
			-wuncon-siji-medium-r-normal--10-100-75-75-c-80-iso10646-1

URxvt*letterSpace:  0


! special
*foreground:   #eceff1
*background:   #263238
*cursorColor:  #eceff1

! black
*color0:       #263238
*color8:       #37474f

! red
*color1:       #ff9800
*color9:       #ffa74d

! green
*color2:       #8bc34a
*color10:      #9ccc65

! yellow
*color3:       #ffc107
*color11:      #ffa000

! blue
*color4:       #03a9f4
*color12:      #81d4fa

! magenta
*color5:       #EF4981
*color13:      #ad1457

! cyan
*color6:       #009688
*color14:      #26a69a

! white
*color7:       #cfd8dc
*color15:      #eceff1

! rofi.terminal:	urxvt
! rofi.lines:		5
! rofi.eh:		1
rofi.width:		15
rofi.line-padding: 0
rofi.padding:	5
rofi.fullscreen: false
rofi.fixed-num-lines: false
! rofi.opacity:	65
rofi.bw:		2
rofi.location:	1
rofi.yoffset:	24
rofi.terminal:	termite
rofi.lines:		10
rofi.eh:		1
rofi.font:		SpaceMono Nerd Font 10
rofi.color-window: argb:aa263238, argb:ff00c3ff, #26a69a
rofi.color-normal: argb:0263238, #eceff1, argb:0263238, #f4246b, #eceff1
rofi.color-active: #fdf6e3, #268bd2, #eee8d5, #268bd2, #fdf6e3
rofi.color-urgent: #fdf6e3, #dc322f, #eee8d5, #dc322f, #fdf6e3
rofi.sidebar-mode: true
rofi.matching: regex
rofi.modi: window,run,calc:qalc +u8 -nocurrencies

xterm*locale: true
xterm*faceName: Monaco for Powerline:size=9:antialias=true
