Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault


URxvt.scrollBar: false
URxvt*transparent: false
URxvt*shading: 20
!URxvt*blurRadius: 20
URxvt*fading: 20
URxvt*internalBorder: 0
URxvt*saveLines: 1000
URxvt*buffered:	false

URxvt.keysym.M-C-c:	perl:clipboard:copy
URxvt.keysym.M-C-v:	perl:clipboard:paste

URxvt.font: -*-gohufont-medium-*-*-*-11-*-*-*-*-*-iso10646-*,-wuncon-siji-medium-r-normal--11-100-*-*-*-*-iso10646-*

URxvt*letterSpace:  0

! special
*foreground:   #b8c4ca
*background:   #1e242f
*cursorColor:  #b8c4ca

! black
*color0:       #0a0a0a
*color8:       #3c3c3c

! red
*color1:       #f64549
*color9:       #f94445

! green
*color2:       #1fc17a
*color10:      #13c379

! yellow
*color3:       #feef5a
*color11:      #fef050

! blue
*color4:       #79b0de
*color12:      #77afe1

! magenta
*color5:       #b1387b
*color13:      #b1387b

! cyan
*color6:       #0edbaf
*color14:      #0edbaf

! white
*color7:       #8798a4
*color15:      #ffffff

! rofi.terminal:	urxvt
! rofi.lines:		5
! rofi.eh:		1
rofi.width:		15
rofi.line-padding: 0
rofi.padding:	5
rofi.fullscreen: false
rofi.fixed-num-lines: false
! rofi.opacity:	65
rofi.bw:		2
rofi.location:	1
rofi.yoffset:	24
rofi.terminal:	termite
rofi.lines:		10
rofi.eh:		1
rofi.font:		Montserrat 10
rofi.color-window: argb:cc1e242f, argb:ff1fc17a, #79b0de
rofi.color-normal: argb:001e242f, #b8c4ca, argb:001e242f, #b1387b, #ffffff
rofi.color-active: #fdf6e3, #268bd2, #eee8d5, #268bd2, #fdf6e3
rofi.color-urgent: #fdf6e3, #f64549, #eee8d5, #f64549, #fdf6e3
rofi.sidebar-mode: true
rofi.matching: regex
rofi.modi: window,drun,run,calc:qalc +u8 -nocurrencies

xterm*locale: true
xterm*faceName: Monaco for Powerline:size=9:antialias=true
