Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault


URxvt.scrollBar: false
URxvt*transparent: false
URxvt*shading: 20
!URxvt*blurRadius: 20
URxvt*fading: 20
URxvt*internalBorder: 0
URxvt*saveLines: 1000
URxvt*buffered:	false
URxvt*depth: 32

URxvt.keysym.M-C-c:	perl:clipboard:copy
URxvt.keysym.M-C-v:	perl:clipboard:paste

URxvt.perl-ext-common: default
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5

URxvt.font: -*-gohup-medium-*-*-*-11-*-*-*-*-*-iso10646-*,-wuncon-siji-medium-r-normal--11-100-*-*-*-*-iso10646-*

URxvt*letterSpace:  0


! special
*foreground:   #dbe6ec
*background:   [95]#2c3643
*cursorColor:  #ffffff

! black
*color0:       #2c3643
*color8:       #67747c

! red
*color1:       #fa5e5b
*color9:       #e57977

! green
*color2:       #16c98d
*color10:      #c7e6aa

! yellow
*color3:       #feef6d
*color11:      #ffc83f

! blue
*color4:       #288ad6
*color12:      #8abee5

! magenta
*color5:       #ff708e
*color13:      #e28ea0

! cyan
*color6:       #27dede
*color14:      #96f7f7

! white
*color7:       #dbe6ec
*color15:      #99a9b3

rofi.color-enabled: true
rofi.color-window: argb:be2c3643, argb:be2c3643, #dbe6ec
rofi.color-normal: argb:0fdf6e3, #dbe6ec, argb:0eee8d5, #288ad6, #2c3643
rofi.color-active: argb:0fdf6e3, #ffc107, argb:0eee8d5, #ffc107, #263238
rofi.color-urgent: argb:0fdf6e3, #ef4981, argb:0eee8d5, #ef4981, #eceff1
rofi.fullscreen: false
rofi.width: 300
rofi.padding: 10
rofi.font: misc gohup 9
rofi.location: 1
rofi.bw: 2
rofi.yoffset: 24
rofi.fixed-visible-lines: false
rofi.fixed-num-lines: false
rofi.sidebar-mode: true
rofi.modi: window,drun,run,ssh

xterm*locale: true
xterm*faceName: Monaco for Powerline:size=9:antialias=true
