Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault


URxvt.scrollBar: false
URxvt*transparent: false
URxvt*shading: 20
!URxvt*blurRadius: 20
URxvt*fading: 20
URxvt*internalBorder: 0
URxvt*saveLines: 1000
URxvt*buffered:	false

URxvt.keysym.M-C-c:	perl:clipboard:copy
URxvt.keysym.M-C-v:	perl:clipboard:paste

URxvt.font: -*-tamzenforpowerline-medium-*-*-*-12-*-*-*-*-*-*-*,\
			-wuncon-siji-medium-r-normal--10-100-75-75-c-80-iso10646-1

URxvt*letterSpace:  0

! special
*foreground:   #f1f1f1
*background:   #261f39
*cursorColor:  #f1f1f1

! black
*color0:       #1b1d1e
*color8:       #505354

! red
*color1:       #d90e79
*color9:       #fe207b

! green
*color2:       #98de00
*color10:      #b6e354

! yellow
*color3:       #fd5d77
*color11:      #fea182

! blue
*color4:       #03cbca
*color12:      #2dfcde

! magenta
*color5:       #473b6b
*color13:      #6e719c

! cyan
*color6:       #fecf87
*color14:      #fef184

! white
*color7:       #ccccc6
*color15:      #f8f8f2

! rofi.terminal:	urxvt
! rofi.lines:		5
! rofi.eh:		1
rofi.width:		15
rofi.line-padding: 0
rofi.padding:	5
rofi.fullscreen: false
rofi.fixed-num-lines: false
! rofi.opacity:	65
rofi.bw:		2
rofi.location:	1
rofi.yoffset:	24
rofi.terminal:	termite
rofi.lines:		10
rofi.eh:		1
rofi.font:		SpaceMono Nerd Font 10
rofi.color-window: argb:cc261f39, argb:ff03cbca, #ccccc6
rofi.color-normal: argb:00261f39, #f1f1f1, argb:00261f39, #d90e79, #eceff1
rofi.color-active: #fdf6e3, #268bd2, #eee8d5, #268bd2, #fdf6e3
rofi.color-urgent: #fdf6e3, #dc322f, #eee8d5, #dc322f, #fdf6e3
rofi.sidebar-mode: true
rofi.matching: regex
rofi.modi: window,drun,run,calc:qalc +u8 -nocurrencies

xterm*locale: true
xterm*faceName: Monaco for Powerline:size=9:antialias=true
